<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Tracker</title>
</head>
<body>
<header th:replace="layoutAuth :: site-header" />
<div>
<p>Profile</p>
<form autocomplete="off" action="#" th:action="@{/account}"
      th:object="${user}" method="post" class="form-horizontal"
      role="form">
    <label>E-mail</label>
    <input type="email" id="email" name="email" th:field="*{email}" th:placeholder="'Input email'" class="input" />
    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
           class="validation-message"></label>
    <label>Username</label>
    <input type="text" id="username" name="username" th:field="*{username}" th:placeholder="'Input username'" class="input" />
    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
           class="validation-message"></label>
    <label>New password</label>
    <input type="password" id="newPassword" name="newPassword" class="input" />
    <label>Conform new password</label>
    <input type="password" id="confirmPassword" name="confirmPassword" class="input" />
    <label>Current password</label>
    <input type="password" id="currentPassword" name="currentPassword" class="input" />
    <span th:utext="${errorMessage}"></span>
    <span th:utext="${successMessage}"></span>
    <button type="submit" class="submit_button">Save</button>
</form>
</div>
<footer th:replace="layoutAuth :: site-footer" />
</body>
</html>