<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutAuth :: site-head">
    <script th:src="@{/js/projectAnalyticsTaskGroup.js}"></script>
</head>

<body>

<header th:replace="layoutAuth :: site-header" />

<main>
    <ul class="projectList">
        <li th:each="p : ${findAllProjects}" th:onclick="'javascript:ShowTasksGroup(\'' + ${p.id} + '\');'">
            <span th:text="${p.projectName}">Task Title</span>
            <span th:text="${p.mainURL}">Main url</span>
        </li>
    </ul>
    <span th:if="${!findAllProjects.isEmpty()}" th:remove="tag">
        <div class="project_dashboard">
            Tasks<br/>
            New Tasks: <span id="newTasks" th:text="${newTasks}"/><br/>
            Tasks in progress: <span id="progressTasks" th:text="${inWorkTasks}"/><br/>
            Done Tasks: <span id="doneTasks" th:text="${doneTasks}"/><br/>
        </div>
    </span>
</main>

<footer th:replace="layoutAuth :: site-footer" />

</body>

</html>