<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutAuth :: site-head">
</head>

<body>

<header th:replace="layoutAuth :: site-header" />

<main>
    <ul th:each="p : ${findAllProjects}">
        <li>
            <a th:href="@{'/' + ${p.id} + '/tasks/'}" class="title" th:text="${p.projectName}">Task Title</a>
            <span th:text="${p.mainURL}">Main url</span>
        </li>
    </ul>
    <span th:if="${!findAllProjects.isEmpty()}" th:remove="tag">
        <div class="project_dashboard">
        </div>
    </span>
</main>

<footer th:replace="layoutAuth :: site-footer" />

</body>

</html>