<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Tracker</title>
</head>
<body>
<header th:replace="layout :: site-header" />
<main id="forgot">
    <form autocomplete="off" action="#" th:action="@{/forgotPassword}"
          th:object="${user}" method="post" class="form-horizontal"
          role="form">
        <input type="text" id="email" name="email"  th:placeholder="E-mail"
               class="form-control" />
        <span th:utext="${successMessage}"></span>
        <span th:utext="${errorMessage}"></span>
        <button type="submit" class="submit_button">Send E-mail</button>
    </form>
</main>
<footer th:replace="layout :: site-footer" />
</body>
</html>