<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: site-head">
    <title>Welcome to Spring MVC Tracker</title>
</head>
<body>
<header th:replace="layout :: site-header" />
<!--<aside>
    <h2>Recent Tasks</h2>
    <a href="#" th:each="t : ${latest5tasks}" th:text="${t.title}" th:href="@{/tasks/view/{id}/(id=${t.id})}">Work Begins on HTML5.1</a>
</aside>-->
<main id="tasks">
    <article th:each="t : ${latest3tasks}">
        <h2 class="title" th:text="${t.title}">Task Title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(t.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${t.author}" th:remove="tag">
          <i>by</i>
          <span th:text="${t.author.username}">Svetlin Nakov</span>
        </span>
        </div>
        <p class="content" th:utext="${t.body}">Task content</p>
    </article>
</main>
<footer th:replace="layout :: site-footer" />
</body>
</html>