<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head th:fragment="site-head">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../public/img/favicon.ico" th:href="@{/img/favicon.ico}" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/js/blog-scripts.js}"></script>
    <script th:src="@{/js/popup.js}"></script>
    <meta th:include="this::head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header" th:remove="tag">
    <header>
        <div class="menu">
            <ul id="projects_menu_left">
                <li>
                    <a th:href="@{/dashboard}" >Dashboard</a>
                </li>
                <li class="menuLeft">
                    <div th:if="${findAllProjects.isEmpty()}">
                        <a href='#' onclick='overlay2()'>Add project</a>
                    </div>
                    <div th:if="${!findAllProjects.isEmpty()}">
                        <a th:href="@{'/' + ${watchedProject.id} + '/tasks'}" th:text="${watchedProject.projectName}"></a>
                    </div>
                    <ul>
                        <li>
                            <div th:if="${!findAllProjects.isEmpty()}">
                                <article th:each="p,stat : ${findAllProjects}">
                                    <a th:href="@{'/' + ${p.id} + '/tasks'}" class="title" th:text="${p.projectName}">Task Title</a>
                                </article>
                            </div>
                        </li>
                        <li class="menuLeft" >
                            <div th:if="${!findAllProjects.isEmpty()}">
                                <a href='#' onclick='overlay2()'>Add project</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul id="projects_menu_right">
                <li class="menuRight">
                    <form method="post" th:action="@{/logout}">
                        <input type="image" value="Logout" th:src="@{/img/exit.png}"  width="28" height="28"/>
                    </form>
                </li>
                <li class="menuRight"><a href="index.html" th:href="@{/}">Home</a>
                    <ul>
                        <li class = "menuRight">
                            <a href="account.html" th:href="@{/account}">Account</a>
                        </li>
                        <li class = "menuRight">
                            <a href="projects.html" th:href="@{/projects}">Projects</a>
                        </li>
                        <li class = "menuRight">
                            <a th:href="@{/command}">Command</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>
     <ul id="messages" th:with="notifyMessages=${session[T(tracker.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
            th:class="${#strings.toLowerCase(msg.type)}">
        </li>
        <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(
          T(tracker.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
    </ul>
    <div id="overlay2">
        <div>
            <form autocomplete="off" action="#" th:action="@{/projects}"
                  th:object="${project}" method="post" class="form-horizontal"
                  role="form">
                <input type="text" id="title" name="projectName"  th:placeholder="project_name"
                       class="input" />
                <input type="text" id="mainURL" name="mainURL"  th:placeholder="mainURL"
                       class="input" />
                <input type="checkbox" id="public_feedback"
                       class="checkbox" /><label for="public_feedback">Public feedback</label>
                <span th:utext="${successMessage}"></span>
                <button type="submit" class="submit_button">Add project</button>
            </form>Click here to <a href='#' onclick='overlay2()'>close</a>
        </div>
    </div>
</header>
<h1>Welcome</h1>
<p>Welcome to the Spring MVC Bug Tracker.</p>
<footer th:fragment="site-footer">
    &copy; Spring MVC Bug Tracker, 2017
</footer></body></html>