<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutAuth :: site-head">
</head>

<body>

<header th:replace="layoutAuth :: site-header" />

<main id="projects">
    <article th:each="p : ${findAll}">
        <table>
            <tr>
                <td>
                    <a th:href="@{'/tasks/' + ${p.id}}" class="title" th:text="${p.projectName}">Task Title</a>
                    <i>Posted on</i>
                    <span th:text="${p.mainURL}">Main url</span>
                </td>
                <td>
                    <form th:action="@{/projects/remove}" method="POST">
                        <input id="project" name="project" type="hidden" th:value="${p.id}"/>
                        <input type="image" value="delete" th:src="@{/img/delete.png}" onClick="return confirm('sure?')"/>
                    </form>
                </td>
            </tr>
        </table>
    </article>
</main>

<footer th:replace="layoutAuth :: site-footer" />

</body>

</html>