<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layoutAuth :: site-head">
</head>

<body>

<header th:replace="layoutAuth :: site-header" />

<main id="projects">
    <a href='#' onclick='overlay2()'>Add project</a>
        <table>
            <tr th:each="p : ${findAllProjects}">
                <td>
                    <a th:href="@{'/' + ${p.id} + '/tasks/'}" class="title" th:text="${p.projectName}">Task Title</a>
                </td>
                <td>
                    <a th:href="'#'+${p.id}" id="join_pop"><img th:src="@{/img/edit.png}" width="20" height="20"/></a>
                    <a href="#x" class="overlay" th:id="${p.id}"></a>
                    <div class="popup">
                        <div align="center">
                            <div style="height:250px; background-color:#efefef; font-size:14px; width:800px; padding-top: 150px;">
                                <p>Content you want the user to see goes here.</p>
                                <form autocomplete="off" action="#" th:action="@{/projects/edit}"
                                      th:object="${project}" method="post" class="form-horizontal"
                                      role="form">
                                    <input id="edit" name="project" type="hidden" th:value="${p.id}"/>
                                    <input type="text" id="title" name="projectName"  th:placeholder="${p.projectName}"
                                           class="form-control" />
                                    <span th:utext="${successMessage}"></span>
                                    <button type="submit" class="submit_button">Add project</button>
                                </form>Click here to <a href='#' onclick='overlay()'>close</a>
                            </div>
                        </div>
                        <a class="close" href="#close"></a>
                    </div>
                </td>
                <td>
                    <form th:action="@{/projects/remove}" method="POST">
                        <input id="delete" name="project" type="hidden" th:value="${p.id}"/>
                        <input type="image" value="delete" th:src="@{/img/delete.png}" width="20" height="20" onClick="return confirm('sure?')"/>
                    </form>
                </td>
            </tr>
        </table>
</main>
<footer th:replace="layoutAuth :: site-footer" />
</body>

</html>