<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="layout :: site-head">
    <title>Registration</title>
    <script th:src="@{/js/jquery.validate.js}"></script>
    <script th:src="@{/js/registration_form_validation.js}"></script>
    <script th:src="@{/js/show_password.js}"></script>
</head>

<body>

<header th:replace="layout :: site-header" />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/registration}"
                  th:object="${user}" method="post" class="form-horizontal"
                  role="form" id="registration_form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{username}" placeholder="Name" name="username"
                               class="input" />
                        <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                               class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="email" th:field="*{email}" placeholder="Email" name="email"
                               class="input" />
                        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{organization}" placeholder="Organization"
                               class="input" />
                        <label th:if="${#fields.hasErrors('organization')}" th:errors="*{organization}"
                               class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="password" th:field="*{password}"
                               placeholder="Password" name="password" class="input" id="passwordInput"/>
                        <img th:src="@{/img/hide_eye.png}" width="28" height="28" onclick="myFunction()" id="showPassword"/>
                        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                            class="validation-message"></label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="submit_button">Register User</button>
                    </div>
                </div>

                <span th:utext="${successMessage}"></span>
            </form>
        </div>
    </div>
</div>

<footer th:replace="layout :: site-footer" />

</body>

</html>

