<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title th:text="${task.title}">View Task</title>
</head>

<body>

<header th:replace="layout :: site-header" />

<main id="tasks">
    <article>
        <h2 class="title" th:text="${task.title}">Task Title</h2>
        <div class="date">
            <i>Posted on</i>
            <span th:text="${#dates.format(task.date, 'dd-MMM-yyyy')}">22-May-2016</span>
            <span th:if="${task.author}" th:remove="tag">
        <i>by</i>
        <span th:text="${task.author.username}">Svetlin Nakov</span>
        </span>
        </div>
        <p class="content" th:utext="${task.body}">Task content</p>
    </article>
</main>

<footer th:replace="layout :: site-footer" />

</body>

</html>